<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#263a29" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="favicon.png" />

    <title>Restaurant Apps</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip to content</a>
    <header>
      <a href="/" class="brand">
        <img src="./images/logo/logo-white.png" alt="logo Kulinerki" />
        <h1 tabindex="0">Kulinerki</h1>
      </a>

      <button id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <!-- Navigation Menu -->
      <nav>
        <ul id="navigationDrawer">
          <li><a href="./">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a href="https://github.com/aimlana" target="_blank">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent" tabindex="0"></main>
    <footer>
      <!-- Footer Content -->
      <div class="footer-content">
        <div class="footer-brand">
          <div class="mini-brand">
            <img src="./images/logo/logo-white.png" alt="logo Kulinerki" />
            <h2>Kulinerki</h2>
          </div>
          <p>Temukan seleramu hingga ke ujung dunia</p>
        </div>
        <div class="social-media">
          <h5>Follow us</h5>
          <div class="social-media-list">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          </div>
        </div>
      </div>
      <!-- Bottom Content Footer -->
      <div class="bottom-content">
        <h6>Copyright &copy; 2024 Kulinerki. All right reserved</h6>
      </div>
    </footer>
  </body>
</html>
